body {
    font-family: Roboto, sans-serif;
    margin: 0;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    margin: 10px;
    font-size: 20px;
}

.container {
    background-color: #4F2937;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 90vmin;
    height: 90vmin;
}

.subcontainer {
    background-color: #4b74ad;
    display: flex;
    padding: 0;
    margin: 0;
    flex: 1;
    justify-content: center;
}

.element {
    background-color: white;
    padding: 0;
    margin: 1px;
    flex: 1;
    aspect-ratio: 1 / 1;
}