/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
 10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  background-color: black;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  padding-right: 40px;
  padding-top: 10px;
}

button {
  background-color: #596d48;
  color: white;
  border-radius: 8px;
  padding: 10px 40px;
  margin: 10px;
  border: none;
  outline: none;
  box-shadow: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  background-color: white;
  margin: 0 300px;
}

.left-side {
  position: relative;
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  width: 400;
  background-color: white;
}

.text-overlay {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 8px;
  padding: 0;
  margin: 0;
}

.logo {
  display: flex;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 8px;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 400px;
  justify-content: center;
  padding: 10px;
}

#odin-logo {
  width: 80px;
  height: auto;
}

#odin {
  color: white;
  font-size: 50px;
}

.right-side {
  width: auto;
  display: flex;
  flex-direction: column;
}

.part {
  padding: 30px;
}

.intro {
  margin-top: 50px;
}

.main {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding-top: 0;
}

.column {
  flex-grow: 1;
  max-width: 200px;
}

.form {
  display: flex;
  gap: 35px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.have_an_account {
  margin: 10px;
  font-size: 14px;
  padding-top: 0;
  font-weight: 200;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

input {
  border: 1px solid lightgray;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 2px 8px;
  width: 100%;
}

a:link {
  color: #596d48;
  text-decoration: none;
}

input:focus {
  border: 1px solid blue;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

input:invalid {
  border-color: red;
}
